* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0e1621;
}

.message {
  display: flex;
  width: max-content;
  align-items: flex-end;
  gap: 15px;

  font-family: "Rubik", sans-serif;
  font-weight: 500;
  /* background-color: red; */
}

.wall {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-time-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
  width: 100%;
  padding: 0 5px 0 5px;
}

.timestamp {
  font-size: 12px;
}

.username {
  padding-left: 5px;
  color: #ba3633;
  font-weight: 700;
}

.message-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  color: white;
  background-color: #182533;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-start-end-radius: 5px;
  padding: 15px 15px 5px 5px;
  width: max-content;
}


/* btns and input styles */

.messageSection{
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 0;

    height: 50px !important;
    width: 100%;

    background-color: #17212b;
}

.btn-submit{
    width: 40px;
    height: 40px;

    background-color: transparent;
    border: none;
    outline: none;

    cursor: pointer;
}

.icon{
    width: 30px;
}

.search{
    background-color: #17212b;
    border: none;
    outline: none;
    width: 70%;
    height: 50px !important;

    color: white;
}


/* file upload */

input[type="file"] {
    display: none;
  }
  
  .custom-file-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
  }
  
  
  #file-name {
    margin-top: 10px;
    font-size: 10px;
    color: #555;
  }
  